{% extends 'base.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('checklist') }}
{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {{ form_start(form, {'action': path('checklist_selection_checklist'), 'attr': {'id': 'form-select-checklist' }}) }}
        {{ form_row(form.checklist) }}
        {{ form_row(form.submit) }}
        {{ form_row(form.delete) }}
	{{ form_end(form) }}
    {{ form_start(formnew, {'action': path('checklist_ajout_checklist'), 'attr': {'id': 'form-ajout-checklist' }}) }}
        {{ form_row(formnew.title) }}
        {{ form_row(formnew.creer) }}
	{{ form_end(formnew) }}
	<div id="task-list">
	{% if tasks is defined and tasks is not empty %}
		{% include 'checklists/tasks.html.twig' with { 'tasks': tasks, 'checklist':checklist } %}
	{% endif %}
    {% if formadd is defined %}
		{% include 'checklists/formadd.html.twig' with { 'formadd': formadd } %}

	{% endif %}
	</div>
	
</div>
{% endblock %}